@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html,
body {
	min-height: 100vh;
	margin: 0 auto;

	font-size: 16px;
	font-family: "Space Mono", monospace;
}
body {
	background-color: #294897;
	color: snow;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	text-align: center;
	margin-top: 4rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.2rem;
	padding-bottom: 1rem;
	text-align: center;
}

.scoreBoard {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 30%;

	padding: 0.2rem 2rem;
}
.scores {
	display: flex;
	justify-content: space-between;
}
.tiesLabel {
	color: rgb(186, 186, 186);
}
.label {
	display: flex;
}
.label .score {
	margin-left: auto;
}
button {
	background-color: pink;
	box-shadow: none;
	font-size: 1.2rem;

	padding: 0.8rem 1.4rem;
	border-radius: 0.8rem;
	border: 2px solid snow;
	font-family: "Space Mono", monospace;
}
button:hover {
	background-color: snow;

	cursor: pointer;
}
.toggleView {
	visibility: collapse;
}
.gameOverContainer {
	text-align: center;
}
